.row#states-index
  .small-12.columns.centered.logo
    %h1.passages passages
    %p.lt-grey.subheader TRAVEL LOG
  .small-12.columns
    = render 'us_states'
  .small-12.columns.show-for-small
    %h3.centered VISITED STATES
    %ul.mobile-listing
      - @states.order(:name).each do |state|
        %hr
        %li.centered
          %p
            = link_to "state/#{state.abbr}", class: 'lt-grey' do
              = state.name.upcase
  .small-12.columns.navs.hide-for-small.centered{style: 'margin-bottom: 20px;'}
    %ul
      %li
        %p.about
          = link_to '© 2014 NATHANIEL WROBLEWSKI', about_path, class: 'lt-grey'
  %div{data: {'visited-states' => @states.pluck(:abbr)}}
