.row#states-show
  .small-12.columns.centered.logo
    = link_to root_path do
      %h1.passages passages
      %p.lt-grey.subheader TRAVEL LOG
  .small-12.columns
    %h2= @state.name.upcase
  .small-12.columns.experience
    - exp = @experiences.first
    = image_tag cloudfront(exp.photo.url(:large)), class: "#{orientation(exp.rotation)}"
    %br
    %br
    - if exp.location && exp.taken_at
      %h3.dr-grey
        #{exp.location.upcase}
        %span.taken_at.lt-grey.right
          #{exp.taken_at.strftime('%m/%d/%Y')}
    %p= exp.text
  - @experiences[1..-1].each do |experience|
    .small-12.columns.experience
      = image_tag cloudfront('/anchors-a-grey.jpg'), class: "trip-image #{orientation(experience.rotation)}", data: {'src' => cloudfront(experience.photo.url(:large))}
      %noscript
        = image_tag cloudfront(experience.photo.url(:large))
      %br
      %br
      .trip-caption
        - if experience.location && experience.taken_at
          %h3.dr-grey
            #{experience.location.upcase}
            %span.taken_at.lt-grey.right
              #{experience.taken_at.strftime('%m/%d/%Y')}
        %p= experience.text
  .small-12.columns.centered.navs.lt-grey
    = link_to 'TOP', '#', class: 'lt-grey'
    |
    = link_to 'HOME', root_path, class: 'lt-grey'
