.row
  .small-12.columns.centered.logo
    = link_to root_path do
      %h1.passages passages
      %p.lt-grey.subheader TRAVEL LOG
  .small-12.columns
    %h2= @state.name.upcase
  - @experiences.find_each do |experience|
    .small-12.columns.experience
      = image_tag "http://#{ENV['CLOUDFRONT_DOMAIN']}.cloudfront.net/anchors-a-grey.jpg", class: "trip-image #{orientation(experience.rotation)}", data: {'src' => cloudfront(experience.photo.url)}
      %noscript
        = image_tag cloudfront(experience.photo.url)
      %br
      %br
      .trip-caption
        - if experience.location && experience.taken_at
          %h3.dr-grey
            #{experience.location.upcase}
            %span.taken_at.lt-grey.right
              #{experience.taken_at.strftime('%m/%d/%Y')}
        %p= experience.text
  .small-12.columns.centered.navs.lt-grey
    = link_to 'TOP', '#', class: 'lt-grey'
    |
    = link_to 'HOME', root_path, class: 'lt-grey'

= content_for :javascript do
  :coffee
    $('.trip-image').unveil 200, ->
      $(@).load ->
        @style.opacity = 1
        $('.trip-caption').fadeIn 600
